/* a page on which there are several squares
of different colors occupying the four corners
of the screen */
.square{
border: 3px solid black;
width: 85px;
height: 60px;
margin: 40px;
background-color: floralwhite;
}

.square2{
position: absolute;
right:0px;
top:0px;
background-color: brown;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.square3{
position: absolute;
right: 0px;
bottom: 0px;
background-color: antiquewhite;
}
.square4{
position: absolute;
left:7px;
bottom:0px;
background-color: black;
color: blueviolet
;
}
