.quadrado{
border: 3px solid black;
width: 85px;
height: 60px;
margin: 40px;
background-color: floralwhite;
}

.quadrado2{
position: absolute;
right:0px;
top:0px;
background-color: brown;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quadrado3{
position: absolute;
right: 0px;
bottom: 0px;
background-color: antiquewhite;
}
.quadrado4{
position: absolute;
left:7px;
bottom:0px;
background-color: black;
color: blueviolet
;
}
/* página na qual existam vários quadrados 
de cores distintas ocupando os quatro cantos
da tela */