.alternada{
    list-style: upper-alpha;
    font-size: 30px;
    color:indigo;
    width: fit-content;
}
.alternada li:nth-child(odd){
background-color: blueviolet;
} /*esse comando é pra vc selecionar um filho especifico */
/* quero um comando que faça os itens pares diferentes dos impares, marcadores.*/

.alternada li:nth-child(even){
background-color: aqua;}

.alternada li:hover{
    font-weight: bolder;
}